html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #19E679;
}

.lilita-one-regular {
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
}

.contestantpagetwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.contestantpagetwo h1 {
    font-size: 2.5em;
    font-weight: bold;
    font-family: "Lilita One", serif;
    color: #fff;
    text-align: center;
    margin-top: 5.4em;
    padding: 0;
    color: #116337;
}

#username {
    width: 100%;
    height: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-family: "Lilita One", serif;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.buttons-container {
    position: relative;
    text-align: center; 
    margin-top: 1em; 
}

#teamone, #teamtwo {
    font-family: "Lilita One", serif;
    text-align: center;
    background-color: black;
    height: 30px;
    border-radius: 5px;
    width: 110px; 
    color: white;
    margin-left: 20px; 
    font-size: 1em;
    border: none;
    cursor: pointer;
}

#join {
    position: relative;
    justify-self: center;
    text-align: center;
    background-color: #116337;
    height: 30px;
    border-radius: 5px;
    width: 110px; 
    color: white;
    margin-left: 5rem; 
    margin-top: 2em;
    font-family: "lilita one", serif;
    border: none;
    cursor: pointer;
}

#back {
    position: absolute; bottom: 0; left: 0;
    margin: 5px;
    padding: 22px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    }