html, body {
    background: #19E679;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
  }
  
  .lilita-one-regular {
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
  }

  .homepage h1 {
    color: #116337;
    font-family: 'Lilita One', serif;
    text-align: center;
    font-size: 4.5rem;
    margin: 1rem 1rem; /
  }
  
  .homepage .logo-container {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
  }
  
  .homepage .logo {
    width: 10rem;
    height: 10rem;
  }
  
  .homepage .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
  }
  
  .homepage button {
    font-family: 'Lilita One', serif;
    display: block;
    margin: 0.2em auto;
    padding: 0.5rem 1.5rem;
    font-size: 2.2rem;
    background-color: #047721;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .homepage button:hover {
    background-color: #054b08;
  }
  
  .homepage footer {
    position: relative;
    text-align: center;
    font-size: 0.94rem;
    color: #1d1d1d;
    margin-top: auto; 
  }
  
  .homepage footer p {
    position: relative;
    align-self: center;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
  }
  