html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #19E679;
}

.lilita-one-regular {
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
  }

.hostpage h1 {
    font-size: 3em;
    font-family: "Lilita One", Arial, Helvetica, sans-serif;
    color: #116337;
    text-align: center;
    margin-top: 15%;
}

.gameCode {
    color: #efeded;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.hostpage #start {
    background-color: #116337;
    position: relative;
    display: flex;
    text-align: center;
    justify-self: center;
    align-self: center;
    color: #efeded;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: auto;
    margin-top: 11em;
    cursor: pointer;
}

.teams-container {
    display: flex;
    justify-content: space-between;
}

#names {
    font-family: 'roboto', sans-serif;
}

.red, .blue {
    color: #000000;
    font-family: "Lilita One", serif;
    text-align: center;
    font-size: 1em;
}

.red {
    margin-left: 3em;
}

.blue {
    text-align: center; 
    margin-right: 3em;
}

.blueblue {
    color: blue;
}

.redred {
    color: red
}

#back {
    font-weight: bold;
}

@media only screen and (max-width: 390px) {
    .hostpage h1 {
        font-size: 2em;
    }

    .hostpage #start {
        font-size: 1em;
    }

    .red, .blue {
        font-size: 0.8em;
    }
  }