.turn {
    font-family: "Lilita One", sans-serif;
    color: #0f4b04;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    font-size: 3em;
}

.buzz {
    font-family: "Lilita One", sans-serif;
    color: #0f4b04;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    margin:auto;
    top: -0.3em;
    border-radius: 95%;
    height: 3.5em;
    width: 3.5em;
    position: relative;
    background-color: #02b93f;
    border: none;
    cursor: pointer;
}

.buzz:active {
    color: #000201;
    background-color: #03892f;
}



.teammates {
    position: absolute;
    bottom: 1.5em;
    right: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.teammates h2 {
    font-size: 1.5em;
    color: #0f4b04;
    margin: 0;
}

.teammates p {
    font-size: 1em;
    color: #0f4b04;
    margin: 0.5em 0em;
}


.buzz:disabled {
    background-color: #a5d6a7;
    cursor: not-allowed;
}

.name {
    position: absolute;
    top: 1em;
    left: 1em;
    color: white;
    font-size: 1.5em;
    margin: 0;
}

.turn {
    text-align: center;
}

@media only screen and (max-width: 390px) {
    .buzz {
        font-size: 4em;
        height: 3em;
        width: 3em;
    }

    .teammates {
        bottom: 0.5rem;
        right: 0.5rem;
    }

    .teammates h2 {
        font-size: 1.2rem;
    }

    .teammates p {
        font-size: 0.8rem;
    }

    .name {
        font-size: 1.2rem;
    }

    .turn {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 391px) and (max-width: 430px) {
    .buzz {
        font-size: 6rem;
        height: 3.5em;
        width: 3.5em;
    }

    .teammates {
        bottom: 1rem;
        right: 1rem;
    }

    .teammates h2 {
        font-size: 1.3em;
    }

    .teammates p {
        font-size: 0.9rem;
    }

    .name {
        font-size: 1.3rem;
    }

    .turn {
        font-size: 2.7rem;
    }
  }