.waiting {
    font-family: "Lilita One", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    font-size: 5vw; 
    margin-top: 40vh;
}
@media only screen and (max-width: 500px) {
    .waiting {
        transform: translateY(0vh); 
        font-size: 3em; 
}}

.roomid {
    position: absolute;
    bottom: 10px;
    left: 37.5%;
    width: 25%;
    text-align: center;
    font-size: 1rem;
    background-color: white;
    color: #33CC66;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}